<%- include('includes/head.ejs')%>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-nav-ul">
                <li class="main-nav-li"><a href="/">Library</a></li>
                <li class="main-nav-li"><a href="/add-book">Add Book</a></li>
            </ul>
        </nav>
    </header>
<main>
<div id="confused-image"></div>
<h1 class="error">Ummm... Not sure what you were expecting, but there's nothing here.</h1>
</main>
<%- include('includes/footer.ejs')%>